.qr-container {
    text-align: center;
}

    .qr-container h1 {
        margin-bottom: 10px;
    }

    .qr-container img {
        display: block;
        margin: 0 auto;
    }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}