node_modules
.env
storage/*
.vscode
my_session
obj
.vs/*
bin
*.njsproj
*.user
*.sln
/package-lock.json
/yarn.lock
/.wwebjs_auth/session
/session-locumfilter12
/utils/init.js
/gram_sessions
/session-whatsapp
/libman.json
